@model Staff

@{
    ViewData["Title"] = "Add Staff";
}

<partial name="_NavBarPartial"  />

<div class="container">
    <h3 class="admin-h3">ADMIN PAGE</h3>
    <p class=lead>This page allows you to add players &amp; coaching staff of Bayern Munich rather than using an API</p>
    <hr />

    @if (ViewData["Message"] != null)
    {
        <div class="alert alert-info fade show" role="alert">
            @ViewData["Message"]
        </div>
    }

<form class="mb-2" asp-controller="Admin" asp-action="Add">
    <div asp-validation-summary="All" class="text-danger fw-bold"></div>
    <partial name="_AddEditPartial" />
    <div class="justify-content-end">
        <button class="btn btn-info" type="submit">Add</button>
        <button class="btn btn-danger" type="reset">Reset</button>
    </div>
</form>
</div>

<partial name="_FooterPartial" />