<div class="container-fluid footer">
    <div class="container">
        <div class="footer-socials d-flex justify-content-center">
            <div class="footer-circle">
                <a href=" http://fcb.de/shoptwitter.com/FCBayernENinstagram.com/fcbayernyoutube.com/fcbayern" target="_blank">
                    <i class="fas fa-shopping-cart text-light"></i>
                </a>
            </div>
            <div class="footer-circle">
                <a href="https://www.facebook.com/fcbayern.en/" target="_blank">
                    <i class="fab fa-facebook-f text-light"></i>
                </a>
            </div>
            <div class="footer-circle">
                <a href="https://twitter.com/FCBayernEN?s=20" target="_blank">
                    <i class="fab fa-twitter text-light"></i>
                </a>
            </div>
            <div class="footer-circle">
                <a href="https://www.instagram.com/fcbayern/" target="_blank">
                    <i class="fab fa-instagram text-light"></i>
                </a>
            </div>
            <div class="footer-circle">
                <a href="https://www.youtube.com/user/fcbayern" target="_blank">
                    <i class="fab fa-youtube text-light"></i>
                </a>
            </div>
        </div>
        <p class="small text-center text-light">
            &copy;Copyright 2021, This site was created for the purpose of practice in web development &amp; not for commercial use
        </p>
    </div>
</div>