<div class="container-fluid bg-danger sticky-top">
    <div class="container">
        <nav class="navbar navbar-expand-md justify-content-between">
            <a asp-controller="Home" asp-action="Index" class="navbar-brand">
                <img src="https://api.sofascore.com/api/v1/team/2672/image" alt="Bayern Logo" />
            </a>
            <div>
                <button type="button" class="navbar-toggler" data-toggle="collapse"
                        data-target="#MyNavBar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="MyNavBar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Results">Results</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Table">Table</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Players">Players</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Stadium">Allianz Arena</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Admin" asp-action="Add">Admin</a>
                            </li>
                            <li class="nav-item bg-light rounded">
                                <a class="nav-link text-dark fw-bold" asp-controller="Admin" asp-action="Logout">Logout</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item bg-light rounded">
                                <a class="nav-link text-dark fw-bold" asp-controller="Admin" asp-action="Login">Login</a>
                            </li>

                        }
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>