@{
    ViewData["Title"] = "Allianz Arena";
}

<partial name="_NavBarPartial" model="@User" />

<div class="to-top">
    <a href="#top" class="text-light text-decoration-none anton">&uArr;</a>
</div>

<div class="container" id="top">
    <div class="site-results">
        <h3>STADIUM TOURS AND MUSEUM</h3>
        <hr />
        <p>Get to know more about the home of bayern</p>
    </div>
</div>

<partial name="_FooterPartial" />